<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details of a question</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        if($("input[type=radio]:checked").length === 0){
            $('#voteButton').prop('disabled', true);
        }
        $('form :input').change(function () {
            alert("changed");
            if($("input[type=radio]:checked").length === 0){
                $('#voteButton').prop('disabled', true);
            }else{
                $('#voteButton').prop('disabled', false);
            }
        })
    });
</script>
<h1>{{question.question_text}}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'polls:vote' question.id %}" method="post" id="form">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
        <label for = "choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    <input type="submit" value="vote" name="voteButton" id='voteButton'/>
</form>
</body>
</html>